<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="admin/_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
    <link rel="stylesheet" href="../../static/css/m.css">
</head>
<body>
<br>
<br>
<div class="m-container-small m-padded-footer" style="max-width: 40em !important;">
    <div class="ui container">
        <div class="ui middle aligned center aligned grid">
            <div class="column">
                <h2 class="ui teal image header">
                    <div class="content">
                        Admin Login
                    </div>
                </h2>
                <form class="ui large form" method="post" action="" th:action="@{admin/login}">
                    <div class="ui stacked segment">
                        <div class="required field">
                            <div class="ui left icon input">
                                <i class="user icon"></i>
                                <input type="text" name="username" placeholder="Username">
                            </div>
                        </div>
                        <div class=" required field">
                            <div class="ui left icon input">
                                <i class="lock icon"></i>
                                <input type="password" name="password" placeholder="Password">
                            </div>
                        </div>
                        <button class="ui fluid large teal submit button">Login</button>
                    </div>

                    <div class="ui error message"></div>
                    <div class="ui negative mini message" th:unless="${#strings.isEmpty(message)}" th:text="${message}"></div>

                </form>

                <!--<div class="ui message">
                    New to us? <a href="#">Sign Up</a>
                </div>-->
            </div>
        </div>
    </div>
</div>


<script
        src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.3.2/dist/semantic.min.js"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>

<script>
    $('.ui.form').form({
        fields: {
            username : {
                identifier: 'username',
                rules: [{
                    type: 'empty',
                    prompt: 'username cannot be empty'
                }]
            },
            password : {
                identifier: 'password',
                rules: [{
                    type: 'empty',
                    prompt: 'password cannot be empty'
                }]
            }
        }
    });
</script>
</body>
</html>